<h1>Map</h1>
<div data-controller="maps">
  <%= link_to "#", "this", data: { action: "click->maps#show"} %>
  <div data-maps-target="container" class="leaflet-container" style="min-height: 800px;"</div>
</div>
